body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 69);
}

iframe {
    width: 560px;
    height: 315px;
    border-radius: 10px;
}